<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="container" style="margin-left: 40%;">
	<div>
		<h3>Here are my Tasks</h3>
		<button (click)="onButtonClickTasks()">Show all Tasks</button>
		<div *ngIf="showAll"> 
			<ul>
				<li *ngFor="let task of tasks">{{task.title}}
					<button (click)="taskClick(task._id)">Show</button>
				</li>
			</ul>
			<br>
			<div *ngIf="showTask1">
				<p>Task: {{task1.title}}</p>
				<p>Description: {{task1.desc}}</p>
				<p *ngIf="task1.completed; else notShow" style="color: green;">Task complete</p>
			</div>
		</div>
	</div>


</div>
<router-outlet></router-outlet>
